@import "../uniform";

.container{
    @include centerDiv(column);
    .form{
        @include centerDiv(column);
        margin-top: 10vmin;
        @include highlight();
        width: 50%;
        margin-bottom: 10vmin;
        padding:10vmin 3vmin 5vmin 3vmin;
        div{
            @include inputField();
        }
        button{
            margin-top: 3vmin;
            background-color: transparent;
            border-radius: 10px;
            @include centerDiv(row);
            transition: all 0.7s;
            width: auto;
            outline: none;
            border: none;
            &:hover{
                cursor: pointer;
            }
            svg{
                width: 55px;
                color: $maincolor;
            }
        }
    }
    @include loader();
}