@import "../uniform";


.container{
    @include centerDiv(column);
    h3{
        color: $maincolor;
        margin-top: 10vmin;
    }
    .addnewLink{
        color: $maincolor;
        margin-top: 5vmin;
        font-style: italic;        
    }
}